.block
  %h3 Useful Links
  .content
    %p
      Useful links for the admin.
  #active-users
    %h3 Active Users
    %p


.block
  %h3 Links
  %ul.navigation
    %li=link_to "Facebook Page", 'http://facebook.com/kadigame'
    %li=link_to "Twitter Page", 'http://twitter.com/kadigame'
