#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Administrator's dashboard for configuring the KADI game.
        %span.hightlight
          Use with care!
-content_for :sidebar, partial("base/sidebar")
-content_for :js, partial("base/js")
