=javascript_include_tag "/javascripts/game/roar.js"
=javascript_include_tag "/javascripts/game/player.js"
=javascript_include_tag "/javascripts/game/dashboard-ui.js"
=javascript_include_tag "/javascripts/game/game-ui.js"
:javascript
  $(document).ready(function () {
    var access_token = "#{@token}";
    var fb_id = "#{@player.fb_id}";
    var name = "#{@player.name}";
    var roar = new Roar(access_token);

    console.log("User %s is logged in, token %s", name, access_token);

    var createOrLoginHandler = new Handler(function(params) {
      console.log("Success: %s The player is %s ", params[0], params[1]);

      var dashboard = new DashboardApplication(false);
      var syncHandler = new Handler(function(player) {
         dashboard.setPlayer(player);
      });
      var player = new Player(params[1], fb_id, name, roar, syncHandler);


      ko.applyBindings(dashboard, $("#dashboard")[0]);
    });


    roar.createRoarUserOrLogin(createOrLoginHandler)
  });
