=javascript_include_tag '/javascripts/util.js'
=javascript_include_tag '/javascripts/game/common-ui.js'
=javascript_include_tag '/javascripts/game/card.js'
=javascript_include_tag '/javascripts/game/game-ui.js'
=javascript_include_tag '/javascripts/game/player-ui.js'
=javascript_include_tag '/javascripts/game/game-dom.js'
=javascript_include_tag '/javascripts/game/rules.js'
=javascript_include_tag '/javascripts/app/application.js'
- if !@player
- else
  :javascript
    $(document).ready(function() {
      var access_token = "#{@token}";
      var fb_id = "#{@player.fb_id}";
      var name = "#{@player.name}";
      var app = new kadi.app.MultiplayerApplication(access_token, fb_id, name);
      ko.applyBindings(app);
    });
