=javascript_include_tag "/javascripts/bootstrap.min.js"
=javascript_include_tag "/javascripts/js.class.min.js"
=javascript_include_tag "/javascripts/knockout.js"
=javascript_include_tag "/javascripts/underscore-min.js"
=javascript_include_tag "/javascripts/util.js"
=javascript_include_tag "/javascripts/pusher.min.js"
=javascript_include_tag "/javascripts/kinetic.js"