=javascript_include_tag "/javascripts/bootstrap.min.js"
=javascript_include_tag "/javascripts/jquery.transit.js"
=javascript_include_tag "/javascripts/jquery.wiggle.js"
=javascript_include_tag "/javascripts/js.class.min.js"
=javascript_include_tag "/javascripts/shotgun.js"
=javascript_include_tag "/javascripts/knockout.js"
=javascript_include_tag "/javascripts/underscore-min.js"
=javascript_include_tag "/javascripts/stacktrace-min-0.4.js"
=javascript_include_tag "/javascripts/preloadjs-0.2.0.min.js"
=javascript_include_tag "/javascripts/pusher.min.js"
=javascript_include_tag "/javascripts/kinetic.js"
=javascript_include_tag "/javascripts/ua.js"
=javascript_include_tag "/javascripts/moment.js"