=javascript_include_tag "/javascripts/game/common-ui.js"
=javascript_include_tag "/javascripts/game/card.js"
=javascript_include_tag "/javascripts/game/game-dom.js"
-#=javascript_include_tag "/javascripts/game/game-ui.js"
-#:javascript
-#  var game = new GameUI(null, []);

:javascript
  $(document).ready(function () {
    var me = new kadi.game.GamePlayerUI('#{@player.id}', "#{@player.name}");
    kadi.game.initGameUI(me,[]);

  });