=javascript_include_tag "/javascripts/util.js"
=javascript_include_tag "/javascripts/game/common-ui.js"
=javascript_include_tag "/javascripts/game/card.js"
=javascript_include_tag "/javascripts/game/game-ui.js"
=javascript_include_tag "/javascripts/game/player-ui.js"
=javascript_include_tag "/javascripts/game/game-dom.js"
=javascript_include_tag "/javascripts/game/rules.js"

:javascript
  $(document).ready(function () {
    var me = { id: '100004430102934', name: 'You', live: true, debug: true};
    var compB = {id: '100002298632995', name: 'Karucy', live: false};
    var compC = {id: '625987307', name: 'Makmende', live: false};
    var compD = {id: '100000180255133', name: 'Juelz', live: false};
    kadi.game.initGameUI(me,[compD, compB, compC]);
  });