=javascript_include_tag "/javascripts/game/common-ui.js"
=javascript_include_tag "/javascripts/game/card.js"
=javascript_include_tag "/javascripts/game/game-ui.js"
=javascript_include_tag "/javascripts/game/player-ui.js"
=javascript_include_tag "/javascripts/game/game-dom.js"
=javascript_include_tag "/javascripts/game/rules.js"

:javascript
  $(document).ready(function () {
    var me = new kadi.game.Player('#{@player.fb_id}', "#{@player.name}",true);
    var compB = new kadi.game.Player('100004430102934', 'Karucy',false);
    var compC = new kadi.game.Player('100004303570767', 'Makmende',false);
    var compD = new kadi.game.Player('100004432652693', 'Prezzo',false);
    kadi.game.initGameUI(me,[compD, compB, compC]);
  });