=javascript_include_tag "/javascripts/game/common-ui.js"
=javascript_include_tag "/javascripts/game/card.js"
=javascript_include_tag "/javascripts/game/game-ui.js"
=javascript_include_tag "/javascripts/game/player-ui.js"
=javascript_include_tag "/javascripts/game/game-dom.js"
=javascript_include_tag "/javascripts/game/rules.js"

:javascript
  $(document).ready(function () {
    var me = new kadi.game.Player('100004430102934', "#{@player.name}",true);
    var compB = new kadi.game.Player('100002298632995', 'Karucy',false);
    var compC = new kadi.game.Player('625987307', 'Makmende',false);
    var compD = new kadi.game.Player('100000180255133', 'Juelz',false);
    kadi.game.initGameUI(me,[compD, compB, compC]);
  });