.picking_box {
    height: 200px;
    width: 150px;
    position: relative;
    top: 150px;
    left: 500px;
}

* {
    /*border: 1px solid #000000;*/
}

.card, .card_container {
    width: 100px;
    height: 136px;
    position: relative;
}

.card {
    /*border: 1px solid #000000;*/
}
.card_container {
    perspective: 800px;
}
.card_container .card.flipped {
    transform: rotateY(-180deg);
}
.card_container .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.card_container .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden ;
    z-index: 2;
}
.card_container .card .front {
    position: absolute;
    background: url(../images/card_back_small.png) no-repeat;
    z-index: 1;
}

.card_container .card .back {
    background: url(../images/card_back_coke.png) no-repeat;
    transform: rotateY(-180deg);
}

.red {
    color: red;
}

.rank {
    position: relative;
    top: 5px;
    left: 5px;
    width: 15px;
    font-weight: bold;
    font-size: 24px;
}

.black {
    color: black;
}


.suite {
    position: relative;
    top: 30px;
    left: 5px;
    font-weight: bold;
    font-size: 24px;
}