.picking_box {
    height: 150px;
    width: 125px;
    position: absolute;
    top: 200px;
    left: 500px;
}

#game {
    margin-top: 20px;
    background:radial-gradient(rgba(80,0,0,0.1) 0%, rgba(80,0,0,0.2) 30%, rgba(21,11,1,0.9) 100% ), url(../images/woodback.jpg);
    border-radius: 10px;
    width: 800px;
    height: 600px;
    display:block;
    margin:auto;
    position: relative;
    overflow: hidden;
}

.play .modal-backdrop {
    z-index: 8000;
}

.play .modal {
    z-index: 8001;
}

.play .modal-body {
    max-height: inherit;
}

.options .page-header, .game-over-elimination .page-header {
    margin: 0px 0px 10px 0px;
}

.options .lead {
    margin-bottom: 10px;
    font-size: 15px;
}

.opponent_result {
    margin-bottom: 10px;
    height: 80px;
}

.opponent_result .thumbnail {
    width: 70px;
    float: left;
}

.opponent_result .thumbnail .caption {
    padding: 0px;
}

.cards {
    width: 400px;
    height: 81px;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.cards .card_container {
    float: left;
    position: absolute;
}

.score {
    float: left;
    margin-top: 20px;
}

.eliminated {
    font-weight: bold;
    color: red;
    text-line-through-style: double;
}

.strikethrough {
    display: block;
    width: 100%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
    position: relative;
    top: 36px;
    height: 1px;
    z-index: 7000;
}

.options .opponent, .game-over-elimination .opponent {
    height: 50px;
    width: 50px;
}

.thumbnail .caption {
    padding: 0px;
    text-align: center;
}

.options .selected {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.options .thumbnail {
    cursor: pointer;
}

.options h3, .game-over-elimination h3 {
    line-height: 24px;
}

.options legend {
    font-size: 18px;
}

.center {   display: block;   margin-left: auto;   margin-right: auto; }

.player {
    margin: auto;
    width: 100px;
    height: 100px;
    display: block;
    z-index: 7000;
    position: relative;
}

.win_screen {
    margin: auto;
    width: 300px;
    height: 110px;
    left: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

.win_screen .avatar {
    top: 20px;
    position: absolute;
}
.win_screen h3, h4, p {
    text-align: center;
}

.win_screen button{
    left: 95px;
    position: relative;
    top: -5px;
}

.active {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.avatar {
    top: 10px;
    left: 10px;
    position: relative;
    float: left;
    opacity: 0.7;
    width: 50px;
}

.kadi {
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
}

.player.B {
   top: 70px;
   left: 360px;
}

.player.C {
    left: 650px;
}

.player.C, .player.D {
    top: 260px;
}
.player.C, .player.D, .player.B {
    width: 80px;
    height: 80px;
    position: absolute;
}

.player.D {
   left: 70px;
}

.name {
    display: block;
    /*position: absolute;*/
    /*text-shadow: 2px 2px 2px #fff;*/
    font-family: MuseoSans-500;
    position: relative;
    text-align: center;
    color: #ffffff;
    /*color: black;*/
    font-weight: bold;
    top: 10px;
}

.button_holder{
    display: block;
    position: relative;
    top: 25px;
}

.action_buttons {
    left: 20px;
}

.table_deck {
    width: 150px;
    height: 200px;
    left: 300px;
    top: 200px;
    /*border: 1px solid #000000;*/
    position: absolute;
}

.player_deck {
    position: absolute;
    /*border: 1px solid #000000;*/
    overflow: hidden;
}

.player_deck.A {
    height: 100px;
    top: 500px;
}

.player_deck.A, .player_deck.B {
    width: 400px;
    left: 200px;
    height: 100px;
}

.player_deck.B {
    top: 0;
}

.player_deck.C {
    width: 100px;
    left: 700px;
    top: 100px;
    height: 400px;
}

.player_deck.D {
    width: 100px;
    left: 0px;
    top: 100px;
    height: 400px;
}

* {
    /*border: 1px solid #000000;*/
}

.card_container {
    width: 100px;
    height: 136px;
    position: absolute;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card .face.front {
    background: url(../images/card_back_small.png) no-repeat;
    transform: rotateY(180deg);
}

.card .face.back {
    background: url(../images/card_back_generic.png) no-repeat;
}

.card.flip {
    transform: rotateY(180deg);
}

.card_container.selected {
    border-radius: 6px;
    box-shadow: -2px -2px 4px rgba(0,0,0,0.5);
}

.red {
    color: red;
}

.rank {
    position: relative;
    top: 5px;
    left: 5px;
    width: 15px;
    font-weight: bold;
    font-size: 24px;
}

.black {
    color: black;
}


.suite {
    font-size: 24px;
    left: 5px;
    position: absolute;
    top: 25px;
}

.rank.joker {
    font-size: 16px;
    line-height: 2px;
}

.medium {
    font-size: 80px;
    top: 13px;
    position: relative;
    left: 10px;
}

.large, .larger {
    font-size: 100px;
    left: 20px;
    position: absolute;
    top: 60px;
}

.larger {
    font-size: 120px;
    left: 12px;
    top: 50px;
}

.D.larger, .S.larger {
    font-size: 140px;
}

.C.larger {
    left: 10px;
}

.notification {
    width: 400px;
    height: 100px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    left: 200px;
    top: 375px;
    position: relative;
}

.notification .lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 100px;
    margin-left: 20px;
}

.notification .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: auto;
    padding: 10px;
}

.player_notification {
    width: 250px;
    height: 100px;
    position: absolute;
    background: rgb(245,245,245);
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 8001;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D;
    z-index: 8000;
    opacity: .60;
}

.pick_or_block {
    width: 160px;
}

.pick_or_block, .suite_picker {
    margin: auto;
}

.suite_picker {
    width: 210px;
    top: 14px;
}

.btn-large.any {
    height: 40px;
    font-weight: bold;
}

.btn-large.clubs, .btn-large.hearts, .btn-large.diamonds, .btn-large.spades {
    padding: 0px 10px;
    font-size: 32px;
}

.requested_suite {
    background: url(../images/card_back_small.png) no-repeat;
    width: 100px;
    height: 136px;
    position: absolute;
    left: 180px;
    top: 200px;
    opacity: 0;
}