.MuseoSans-500 {
    font-family: MuseoSans-500;
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: MuseoSans-500;*/
}

.logo {
    max-width: 240px;
}

.page-header h1 small, .login h3 small {
    font-size: 14px;
    display: block;
}

.fb_logo {
    max-width: 200px;
    cursor: pointer;
}

.row {
    margin-left: 0px;
}

.hidden {
    display: none;
}

#largeFbButtonWrap {
    text-align: center;
    height: 54px;
    margin: 60px auto 100px auto;
    position: relative;
    top: -412px;
    left: 55px;
}

.largeFbButton {
    font-size: 35px;
    height: 54px;
    color: #fff;
    margin: 60px auto 100px auto;
    display: inline-block;
    padding: 0;
    line-height: 54px;
    text-decoration: none;
    background: url(../images/fb_sprite.png) no-repeat 0 0;
}

.largeFbButton span {
    display: block;
    margin-left: 54px;
    background: url(../images/fb_sprite.png) no-repeat right -54px;
    padding: 0 55px;
    color: #fff;
    font-family: MuseoSans-500;
}

.largeFbButton a:hover {
    text-decoration: none;
    cursor: pointer;
}

.largeFbButton:hover{
    background-position:0 -108px;
    color:#fff;
    text-decoration:none
}

.largeFbButton:hover span{
    background-position:right -162px
}

.links {
    position: relative;
    z-index: 2;
    left: 140px;
    width: 800px;
    height: 90px;
    top: -308px;
}

.sprout_logo {
    display: block;
    float: right;
    margin-top: 10px;
    position: relative;
}

.twitter {
    position: relative;
    float: left;
    padding-top: 26px;
}

.fb {
    float: left;
    top: 30px;
    width: 400px;
    padding-top: 30px;
}

.container {
    width: 940px !important
}

.main {
    margin: 50px auto !important;
}

.splash {
    background-image: url('/images/home_splash.jpg');
    width: 960px;
    height: 621px;
}

.notice .notification {
    position: relative;
    color: white;
    font-family: MuseoSans-500;
    font-size: 15px;
    z-index: 2;
    top: -260px;
}

.notice {
    position: absolute;
    top: 720px;
    display: block;
    width: 550px;
    left: 545px;
}