.group
  =f.label :fb_id
  =f.error_message_on :fb_id
  =f.text_field :fb_id, :class => :text_field, :disabled=> false
  %span.description Ex: a simple text

.group
  =f.label :name
  =f.error_message_on :name
  ~f.text_area :name, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :last_logged_in
  =f.error_message_on :last_logged_in
  =f.text_field :last_logged_in, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :times_played
  =f.error_message_on :times_played
  =f.text_field :times_played, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :games_won
  =f.error_message_on :games_won
  =f.text_field :games_won, :class => :text_field
  %span.description Ex: a simple text

-#.group
  =f.label :is_test
  =f.error_message_on :is_test
  =f.check_box :is_test, :class => :check_box
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:players, :index)}';return false", :class => :button
