.container
  .row
    .page-header
      %h1
        %a
          =image_tag "/images/logo_fb.png", :class => 'logo'
        %small Kenyan Style Poker
.container
  .row-fluid#game-container.game-container
    .span9#game.multiplayer{:style => "display:none;"}
    .span3#sidebar{:style => "display:none;"}
      #accordion.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion', :href=>'#online'}
              %span.badge.badge-info.pull-right
          .accordion#online.accordion-body.collapse.in
            .accordion-inner

-#-content_for :footer, partial('base/footer')
-content_for :fb, partial('base/facebook')
-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/app_js")
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");