.container
  .row
    .page-header
      %h1
        %a
          =image_tag "/images/logo_fb.png", :class => 'logo'
        %small Kenyan Style Poker
.container
  .row-fluid#game-container.game-container.multiplayer
    .span9#game.multiplayer{:style => "display:none;"}
    .span3#sidebar{:style => "display:none;"}
      #accordion.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion', :href=>'#online'}
              Who's Online
              %span.badge.badge-info.pull-right{"data-bind" => "text: numOnline"}
          #online.accordion-body.collapse.in
            .accordion-inner
              .invite{"data-bind" => "visible: players().length > 0"}
                .btn-group
                  %button.btn.btn-primary.btn-start-game{"data-bind" => "enable: canStartGame(), click: startGame", "data-loading-text"=>"Finding opponents..."} Invite!
                %br
              %table.table.table-bordered.table-condensed{"data-bind" => "visible: players().length > 0"}
                %tbody{"data-bind" => "foreach: players"}
                  %tr
                    %td
                      %img{"data-bind" => "attr: { src: avatarUrl }"}
                    %td
                      %p.muted{"data-bind" => "text: name"}
              %p.muted{"data-bind" => "visible: players().length == 0"}
                No players are online. Try
                =link_to "single player", '/test'
        .accordion-group.invites
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion', :href=>'#invites'}
              Invites
              %span.badge.badge-success.pull-right.num-invites{"data-bind" => "text: numInvites"}
          #invites.accordion-body.collapse
            .accordion-inner
              %table.table.table-bordered.table-condensed{"data-bind" => "visible: invites().length > 0"}
                %tbody{"data-bind" => "foreach: invites"}
                  %tr
                    %td
                      %img{"data-bind" => "attr: { src: from.avatarUrl }"}
                    %td
                      %small.muted{"data-bind" => "text: from.name + ' wants to play KADI!'"}
                      %br
                      %small{"data-bind" => "text: at"}
                      .btn-group
                        %btn.btn.btn-success{"data-bind" => "click: $root.acceptInvite"}
                          %i.icon-white.icon-ok
                        %btn.btn.btn-danger{"data-bind" => "click: $root.declineInvite"}
                          %i.icon-remove.icon-white
              %p.muted{"data-bind" => "visible: numInvites() == 0"} You have no pending invites.
    .span9#player
    .span3
-content_for :footer, partial('base/footer')
-content_for :fb, partial('base/facebook')
-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/app_js")
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");