#fb-root
  %script
    (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
#main{:class=>'main'}
  .container
    .row
      .splash
      #largeFbButtonWrap
        .largeFbButton
          %a{:href=>'/test'}
            %span Play
      .links
        .fb
          .fb-like{"data-href"=>'http://www.facebook.com/kadigame',  "data-width"=>'400', "data-show-faces"=>'false', "data-stream"=>'false', "data-header"=>'false'}
        .twitter
          %a{:href=>'https://twitter.com/kadigame', :class=>'twitter-follow-button', "data-size"=>'large', "data-show-count"=>'true'}
            Follow @kadigame
          %script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %a{:href=>'http://sprout.co.ke', :target=>'_blank', :class=>'sprout_logo',}
          %img{:src=>'/images/sprout.png', :title=>'Sprout'}
          