.container
  .page-header
    %h1
      %a
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  - if !@player
    =partial 'base/login'
  - else
    -#.row
      .container
        %a.span1.offset11{:href=>'/logout'} Logout
    .row#dashboard
      .container
        .row
          .span1
            .container
              =image_tag "https://graph.facebook.com/#{@player.fb_id}/picture"
          .span10
            .container
              .row
                .span2
                  %h5 Credits
                .span2
                  %h5 XP
                .span2
                  %h5 Level
                .span2
                  %h5 Players online
              .row
                .span2
                  %p{'data-bind' => 'text: credits'}
                .span2
                  %p{'data-bind' => 'text: xp'}
                .span2
                  %p{'data-bind' => 'text: level'}
                .span2
                  %p{'data-bind' => 'text: numPlayersOnline'}
        .row
          %br
        .row
          .navbar
            .navbar-inner
              %a.brand{:href=>'/logout'} #{@player.name}
              %ul.nav{'data-bind' => "foreach: views"}
                %li
                  %a{'data-bind' => "text: name"}
                -#%li.active
                -#  %a Invite FB Friends
                -#%li
                -#  %a Recent Activity
      .container{'data-bind' => "fadeVisible: selectedView() != null, with: selectedView"}
        .row{'data-bind' => "template: {name: template} "}

    %section
      %script#profile{:type=>'text/html'}

      %script#invite-friends{:type=> 'text/html'}
        - if @friends
          %table.table.table-bordered
            %thead
              %th Friends
              %th Invite
            %tbody
              -@friends.each do |friend|
                %tr
                  %td
                    =image_tag "https://graph.facebook.com/#{friend[:id]}/picture"
                    %small=friend[:name]
                  %td
                    - if friend[:using_app]
                      %span Already playing KADI!
                    - else
                      %button.btn.btn-success{'data-bind' => ''} Invite!


    -content_for :app_js, partial("base/app_js")
-content_for :lib_js, partial("base/lib_js")
