.container
  .page-header
    %h1
      %a
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  - if !@player
    =partial 'base/login'
  - else
    .row
      .navbar
        .navbar-inner
          %a.brand #{@player.name}
          %ul.nav
            %li.active
              %a Recent Activity
            %li
              %a Invite FB Friends
    -content_for :app_js, partial("base/app_js")
-content_for :lib_js, partial("base/lib_js")
