.container
  .page-header
    %h1
      %a
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  - if is_logged_in_to_facebook
    =partial 'base/login'
  - else
    %h1 You are logged into Facebook

=javascript_include_tag "/javascripts/bootstrap.min.js"