.container
  .row
    .page-header
      %h1
        %a
          =image_tag "/images/logo_fb.png", :class => 'logo'
        %small Kenyan Style Poker
- if !@player
  .container
    .row
      = link_to('Login with FB', '/auth/facebook')
- else
  .container
    .row

.container
  .row
    %hr
  .row
    .span4.bordered
      %h4 About Us
      %p
        KADI&reg; is a product of
        = link_to('Sprout Consulting', 'http://sprout.co.ke?from=kadi')
      %p
        Copyright &copy;
        = Time.now.year
    .span4
      %h4 Privacy Policy
      %p
        Fancy Copyright and Privacy Policy stuff
    .span4
      %h4 Contact Us
      %p
        Email: kadi@sprout.co.ke
      %p
        %a{:href=>'https://twitter.com/kadigame', :class=>'twitter-follow-button'}
      %p.fb-like{'data-href'=>'http://www.facebook.com/kadigame','data-width'=>"400", 'data-show-faces'=>"false", 'data-stream'=>"false", 'data-header'=>"false" }



-content_for :fb, partial('base/facebook')
-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/app_js")
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");