.container
  .row
    .page-header
      %h1
        %a
          =image_tag "/images/logo_fb.png", :class => 'logo'
        %small Kenyan Style Poker
- if !@player
  .container
    .row
      = link_to('Login with FB', '/auth/facebook')
- else
  .container
    .row
      %h3{'data-bind' => 'text: welcomeMsg'}
    .row
      .span1.img-polaroid.img-rounded
        %img{'data-bind' => "attr: {src: profileImage}"}


-content_for :footer, partial('base/footer')
-content_for :fb, partial('base/facebook')
-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/app_js")
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");