.container
  .row
    .page-header
      %h1
        %a
          =image_tag "/images/logo_fb.png", :class => 'logo'
        %small Kenyan Style Poker
- if !@player
  .container
    .row
      = link_to('Login with FB', '/auth/facebook')
- else
  .container
    .row

-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/app_js")
