.container
  .page-header
    %h3 KADI
    %small Kenyan Style Poker
.container
  #game_container
    .loading
      %span#loader_text Loading...
      #loader_bar
        %span#splashLoadHolder
          %span#splashAmountLoaded{:style => 'width: 5%'}