.container
  .page-header
    %h3 KADI
    %small Kenyan Style Poker
.container
  #game_container
    .loading
      %span#loader_text Loading...
      #loader
        %span#progressHolder
          %span#progressAmountIndicator{:style => 'width: 5%'}
    #game.hide
      #control-panel
        .right_controls
          %button#toggle-button.btn
            %i#toggle-button-icon.icon-arrow-up
          .players_indicator.hide
            %span.players_online
              %a#players_online_link Players Online
            %span.badge.badge-info#players_online_badge
          .no_players_online
            %span.players_online Connecting...
        %hr.clear
:javascript
  (function(){
    window.pl = { id: "#{@player.fb_id}", name: "#{@player.name}", currentScore: 0, timesPlayed: parseInt("#{@player.times_played}"), timesWon: parseInt("#{@player.games_won}") };
  }) ();