.container
  .page-header
    %h3 KADI
    %small Kenyan Style Poker
.container
  #game_container
    .loading
      %span#loader_text Loading...
      #loader
        %span#progressHolder
          %span#progressAmountIndicator{:style => 'width: 5%'}