.container
  .page-header
    %h1
      %a{:href=> '/'}
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  .row#game-container
    #loading.loading
      %h5#loading-text Loading...
      %ul.drops.red
        %li
        %li
        %li
        %li
    #game{:style => "display:none;"}
    #game-options{:style => "display:none;"}
    .span3#sidebar
      #accordion.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion', :href=>'#online'}
              Who's Online
              %span.badge.badge-info.pull-right{"data-bind" => "text: numOnline"}

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
:javascript
  $(document).ready(function () {
      var me = new kadi.Player("#{@player.fb_id}", "#{@player.name}",true, 0, parseInt("#{@player.times_played}"), parseInt("#{@player.games_won}"));
      kadi.initGameUI(me);
  });
