.container
  .page-header
    %h1
      %a{:href=> '/'}
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  .row#game-container
    #loading.loading
      %h5#loading-text Loading...
      %ul.drops.red
        %li
        %li
        %li
        %li
    #game{:style => "display:none;"}
    #game-options{:style => "display:none;"}
:javascript
  $(document).ready(function () {
      var me = new kadi.game.Player("#{@player.fb_id}", "#{@player.name}",true);
      kadi.game.initGameUI(me);
  });
