.container
  .page-header
    %h1
      %a
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  -#.row
    %br
  .row
    #loading.loading
      %h5#loading-text Loading...
      %ul.drops.red
        %li
        %li
        %li
        %li
        -#%li
    #game{:style => "display:none;"}
      -#%input.rdobutton{:type=> 'radio', :name => 'start-game'}
      -#%label#start-game.rdobuttonlabel{:for => 'start-game'} Start Game
-#.container
  .row
    %hr
    .span4
      %h6 ABOUT US
    .span4
      %h6 HOW TO PLAY
    .span4
      %h6 PRIVACY


-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/test_js")
