-#.container
  .page-header
    %h1
      %a
        =image_tag "/images/logo_fb.png", :class => 'logo'
      %small Kenyan Style Poker
.container
  -#.row
    %br
  .row
    #loading.loading
      %h5#loading-text Loading...
      %ul.drops.red
        %li
        %li
        %li
        %li

    .player.hidden
      =image_tag "/images/avatars/FD03.png"
    #game{:style => "display:none;"}
    .player.hidden
      -#.name
        =@player.name
      .avatar
        =image_tag '/images/avatars/O03.png'
      .btn-group.button_holder
        %btn.btn.btn-move.disabled.btn-success Move
        %btn.btn.btn-pick.disabled.btn-success Pick
        %btn.btn.btn-kadi.disabled.btn-danger KADI

-#.container
  .row
    %hr
    .span4
      %h6 ABOUT US
    .span4
      %h6 HOW TO PLAY
    .span4
      %h6 PRIVACY


-content_for :lib_js, partial("base/lib_js")
-content_for :app_js, partial("base/test_js")
