!!! 5
%html
  %head
    %title KADI! Kenyan Style Poker
    %link{:href=> '/stylesheets/bootstrap.min.css', :rel=>'stylesheet', :type => 'text/css' }
    %link{:href=> '/stylesheets/bootstrap-responsive.min.css', :rel=>'stylesheet', :type => 'text/css' }
    %link{:href=> '/stylesheets/font.css', :rel=>'stylesheet', :type => 'text/css' }
    %link{:href=> '/stylesheets/kadi.css', :rel=>'stylesheet', :type => 'text/css' }
    %link{:href=> '/stylesheets/loading.css', :rel=>'stylesheet', :type => 'text/css' }
    %link{:href=> '/images/favicon.ico', :rel=>'shortcut icon', :type => 'text/css' }
    =javascript_include_tag "/javascripts/jquery.1.7.2.js"
    =javascript_include_tag "/javascripts/prefixfree.min.js"
    = yield_content :include
  %body
    -#=yield_content :facebook
    = yield
    = yield_content :lib_js
    = yield_content :app_js
