!!! 5
%html
  %head
    %title KADI! Kenyan Style Poker
    =stylesheet_link_tag '/assets/home.css'
    %link{:href=> '/assets/favicon.ico', :rel=>'shortcut icon', :type => 'text/css' }
    %script{:src=>'/assets/application.js', :type=>'text/javascript'}
  %body
    = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11499332-4']);
      _gaq.push(['_trackPageview']);
      //TODO: make this environment specific
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
