!!! 5
%html
  %head
    %title KADI! Kenyan Style Poker
    =stylesheet_link_tag '/assets/multiplayer.application.css'
    =javascript_include_tag "/assets/game/multiplayer-ui.js"
  %body.play
    =yield